version: '3.8'
services:
  inventory_proxy:
    image: envoyproxy/envoy:v1.14.1
    container_name: inventory_proxy_ct
    volumes:
      - ./envoy-config.yaml:/etc/envoy/envoy.yaml
      - ./inventory_service.pb:/etc/envoy/inventory_service.pb
    depends_on:
      - inventory_grpc_service
    ports:
      - "51051:51051"
  inventory_grpc_service:
    build:
      context: https://github.com/IndikaKuma/IS.git#:/IS/lab8/invrpc/
    container_name: inventory_grpc_service_ct
    ports:
      - "5005:5005"